{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/strongly-recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "no-console": "off",
    "vue/max-attributes-per-line": "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/html-self-closing": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5",
        "arrowParens": "always"
      }
    ]
  }
}