{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "@nuxtjs"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ]
  }
}